.login-page {
  padding: 8% 0 0;
  margin: auto;
}
.form  {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form table{
	width: 100%;
}
.form input[type="submit"] {
font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #333333;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form input[type="submit"]:hover {
     background: black;
}

body {
background-color: #E8E8E8;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

	#min{
	  width: 25%;
	   padding: 5px;
	   background: #FFFFFF;
	}
	#max{
	  width: 25%;
	   padding: 5px;
	  background: #FFFFFF;
	}

	
	fieldset {
	height: 650px;
	border:0;
	padding:10px;
	margin-bottom:10px;
	background:#EEE;
  border-radius: 8px;
	}
	
legend {
  border-radius:3px;
	padding:5px 15px;
	background-color:#4F709F;
	color:#FFF;
	}
	
	#average{
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4F709F;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
	}
	
	#search{
  margin-left: 10px;
	font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4F709F;
  border: 0;
  width: 15%;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
	}
	#sort{
	  float:right;
	 padding: 5px;
	}
	
	#display table {
    border-collapse: collapse;
    width: 100%;
}

  #display th, td {
    text-align: left;
    padding: 8px;
}
#display tr:nth-child(even) {background-color: #ffffff;}

#display th {
    background-color: #4F709F;
    color: white;
}