<!DOCTYPE html>
<html lang="en">

<head>
    <title>weatherAPi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/sweetalert.css">
    <script type="text/javascript">
        function load() {
            var html = "";
            var request = new XMLHttpRequest();
            request.open('GET', '/getall', false);
            request.onload = function() {
                var j = JSON.parse(this.responseText);
                console.log(j);
                var num = 1;
                for (var key in j) {
                    if (j.hasOwnProperty(key)) {
                        var td = '<tr><td>' + num + '</td><td>' + j[key].city + '</td><td>' + j[key].humidity + '</td><td>' + j[key].temp + '</td><td>' + j[key].temp_max + '</td><td>' + j[key].temp_min + '</td><td>' + j[key].date + '</td>';

                        td = td + '<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#C' + num + '">Forecast</button>';
                        td = td + '<div id="C' + num + '" class="modal fade" role="dialog">';
                        td = td + '<div class="modal-dialog">';
                        td = td + '<div class="modal-content">';
                        td = td + '<div class="modal-header">';
                        td = td + '<button type="button" class="close" data-dismiss="modal">&times;</button>';
                        td = td + '<h4 class="modal-title"><b>' + j[key].city + '</b> forecast</h4>';
                        td = td + '</div>';
                        td = td + '<div class="modal-body">';
                        td = td + '<table class="table table-striped">';
                        td = td + '<thead>';
                        td = td + '<tr>';
                        td = td + '<th>Date</th>';
                        td = td + '<th>Temp</th>';
                        td = td + '<th>Temp_min</th>';
                        td = td + '<th>Temp_max</th>';
                        td = td + '<th>Humidity</th>';
                        td = td + '<th>Weather</th>';
                        td = td + '</tr>';
                        td = td + '</thead><tbody>';
                        var request2 = new XMLHttpRequest();
                        request2.open('GET', '/forecast/' + j[key].city, false);
                        request2.onload = function() {
                            var j2 = JSON.parse(this.responseText);
                            for (x = 0; x < j2.list.length; x = x + 8) {
                                td = td + '<tr><td>' + j2.list[x].dt_txt.substring(0, 10) + '</td><td>' + j2.list[x].main.temp + '</td><td>' + j2.list[x].main.temp_min + '</td><td>' + j2.list[x].main.temp_max + '</td><td>' + j2.list[x].main.humidity + '</td><td><img src="http://openweathermap.org/img/w/' + j2.list[x].weather[0].icon + '.png"></td></tr>';
                                // console.log(j2.list[x].dt_txt.substring(0, 10));
                                // console.log(j2.list[x].main.temp);
                                // console.log(j2.list[x].main.temp_min);
                                // console.log(j2.list[x].main.temp_max);
                                // console.log(j2.list[x].main.humidity);
                                // console.log(j2.list[x].weather[0].icon);
                            }
                        }
                        request2.send();
                        td = td + '</tbody></table>';
                        td = td + '</div>';
                        td = td + '</div>';
                        td = td + '</div>';
                        td = td + '</div>';
                        td = td + '<td><a href="/delete/' + j[key].city + '" class="btn btn-danger">Delete</a>  <a href="/update/' + j[key].city + '" class="btn btn-success">Update</a></td></tr>';
                        num = num + 1;
                        html = html + td;
                        console.log(html);


                    }
                }
            }
            request.send();
            document.getElementById("citytable").innerHTML = html;
            var msg = "";
            msg = "<%= msg %>";
            if (msg == "updatesuss") {
                swal("Success!!", "Update success!!", "success");
            }
            if (msg == "loginsuss") {
                swal("Success!!", "Login success!!", "success");
            }
            if (msg == "deletesuss") {
                swal("Success!!", "delete success!!", "success");
            }
            if (msg == "addsuss") {
                swal("Success!!", "add success!!", "success");
            }
        }
        
        function getcity(){
          var cityname=document.getElementById("cityname").value;
          var html = "";
          var request = new XMLHttpRequest();
            request.open('GET', '/get/'+cityname, false);
            request.onload = function() {
                var j = JSON.parse(this.responseText);
                console.log(j);
                var num = 1;
                        var td = '<tr><td>' + num + '</td><td>' + j.city + '</td><td>' + j.humidity + '</td><td>' + j.temp + '</td><td>' + j.temp_max + '</td><td>' + j.temp_min + '</td><td>' + j.date + '</td>';
                        td = td + '<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#C' + num + '">Forecast</button>';
                        td = td + '<div id="C' + num + '" class="modal fade" role="dialog">';
                        td = td + '<div class="modal-dialog">';
                        td = td + '<div class="modal-content">';
                        td = td + '<div class="modal-header">';
                        td = td + '<button type="button" class="close" data-dismiss="modal">&times;</button>';
                        td = td + '<h4 class="modal-title"><b>' + j.city + '</b> forecast</h4>';
                        td = td + '</div>';
                        td = td + '<div class="modal-body">';
                        td = td + '<table class="table table-striped">';
                        td = td + '<thead>';
                        td = td + '<tr>';
                        td = td + '<th>Date</th>';
                        td = td + '<th>Temp</th>';
                        td = td + '<th>Temp_min</th>';
                        td = td + '<th>Temp_max</th>';
                        td = td + '<th>Humidity</th>';
                        td = td + '<th>Weather</th>';
                        td = td + '</tr>';
                        td = td + '</thead><tbody>';
                        var request2 = new XMLHttpRequest();
                        request2.open('GET', '/forecast/' + j.city, false);
                        request2.onload = function() {
                            var j2 = JSON.parse(this.responseText);
                            for (x = 0; x < j2.list.length; x = x + 8) {
                                td = td + '<tr><td>' + j2.list[x].dt_txt.substring(0, 10) + '</td><td>' + j2.list[x].main.temp + '</td><td>' + j2.list[x].main.temp_min + '</td><td>' + j2.list[x].main.temp_max + '</td><td>' + j2.list[x].main.humidity + '</td><td><img src="http://openweathermap.org/img/w/' + j2.list[x].weather[0].icon + '.png"></td></tr>';
                                // console.log(j2.list[x].dt_txt.substring(0, 10));
                                // console.log(j2.list[x].main.temp);
                                // console.log(j2.list[x].main.temp_min);
                                // console.log(j2.list[x].main.temp_max);
                                // console.log(j2.list[x].main.humidity);
                                // console.log(j2.list[x].weather[0].icon);
                            }
                        }
                        request2.send();
                        td = td + '</tbody></table>';
                        td = td + '</div>';
                        td = td + '</div>';
                        td = td + '</div>';
                        td = td + '</div>';
                        td = td + '<td><a href="/delete/' + j.city + '" class="btn btn-danger">Delete</a>  <a href="/update/' + j.city + '" class="btn btn-success">Update</a></td></tr>';
                        num = num + 1;
                        html = html + td;
                        console.log(html);
            }
            request.send();
            document.getElementById("citytable").innerHTML = html;
        }
    </script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .jumbotron {
            color: #fff;
            padding: 50px 70px;
            padding-bottom: 10px;
            font-family: Montserrat, sans-serif;
        }

        .logo {
            color: #00ad5f;
            font-size: 200px;
        }

        h2 {
            color: #00ad5f;
        }
    </style>
</head>

<body onload="load();">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="#">WeatherAPi</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/home">home</a></li>
                    <li><a data-toggle="modal" data-target="#myModal">Add Record</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <h2>Which city weather would you want to find?</h2>
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
        <br/>
        <br/>
        <form >
            <div class="input-group" >
                <input type="text" class="form-control" size="50" placeholder="City" id="cityname" name="city" required>
                <div class="input-group-btn">
                     <input type="button" value="Search" class="btn btn-success" onclick="getcity();">
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th>Humidity</th>
                    <th>Temp</th>
                    <th>Temp_Max</th>
                    <th>Temp_Min</th>
                    <th>Date</th>
                    <th>Forecast</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody id="citytable">
            </tbody>
        </table>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Record</h4>
                </div>
                <div class="modal-body">
                    <form class="login100-form validate-form" action="/add" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="city" placeholder="city name" width="100%" required>
                        </div>
                        <input type="submit" value="Add" class="btn btn-success" >
                    </form>
                </div>
            </div>

        </div>
    </div>

</html>
