<html lang="en">

<head>
	<title>weatherAPi</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/icons/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="/util.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<script src="/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/sweetalert.css">
</head>
<script type="text/javascript">
	function load() {
		var msg = "";
		msg = "<%= msg %>";
		if (msg == "registersuss") {
			swal("Success!!", "register success!!", "success");
		}
		if (msg == "loginfail") {
			swal("Fail!!", "Login fail!!", "error");
		}
	}
</script>

<body onload="load();">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/login" method="post">
					<span class="login100-form-title p-b-34">
						Account Login
					</span>

					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="first-name" class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<input type="submit" value="Sign in" class="login100-form-btn">
					</div>

					<div class="w-full text-center p-t-27 p-b-239">

					</div>

					<div class="w-full text-center">
						<a href="/signin" class="txt3">
							Sign Up
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('/bg-04.jpeg');"></div>
			</div>
		</div>
	</div>




</body>

</html>
